src/main/resources/server.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name='server'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='id' type="xs:decimal" />
				<xs:element name='name' type='xs:string' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
